Source: qlever
Section: unknown
Priority: optional
Maintainer: lynx <lynx@unknown>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13), dh-exec,
 cmake (>= 3.27),
 libicu-dev,
 tzdata,
 pkg-config,
 uuid-runtime,
 uuid-dev,
 git,
 libjemalloc-dev,
 ninja-build,
 libzstd-dev,
 libssl-dev,
 libboost1.81-dev,
 libboost-program-options1.81-dev,
 libboost-iostreams1.81-dev,
 libboost-url1.81-dev
Standards-Version: 4.6.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/qlever
#Vcs-Git: https://salsa.debian.org/debian/qlever.git

Package: qlever
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: <insert up to 60 chars description>
 <Insert long description, indented with spaces.>
