#!/usr/bin/make -f

export DEB_BUILD_OPTIONS = parallel=2

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		 -DCMAKE_BUILD_TYPE=Release -DLOGLEVEL=INFO -DUSE_PARALLEL=true -D_NO_TIMING_TESTS=ON -GNinja

override_dh_auto_install:
	ls -l obj-x86_64-linux-gnu/bin
	mkdir -p debian/tmp
	cp obj-x86_64-linux-gnu/IndexBuilderMain debian/tmp/
	cp obj-x86_64-linux-gnu/PrintIndexVersionMain debian/tmp/
	cp obj-x86_64-linux-gnu/ServerMain debian/tmp/
	cp obj-x86_64-linux-gnu/VocabularyMergerMain debian/tmp/

